doctype

- let groupIdx = 1;
mixin group
  .parallax-group(class=`group${groupIdx++}`)&attributes(attributes)
    block
mixin back
  .parallax-layer.back&attributes(attributes)
    block
mixin fore
  .parallax-layer.fore&attributes(attributes)
    block

html(lang='en')
  head(prefix='og: http://ogp.me/ns#')
    meta(charset='utf8')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto+Mono:700')
    link(rel='stylesheet' href='/styles/index.css')
    title PIxEL Clubs
    meta(property='og:title' content='PIxEL Clubs')
    meta(property='og:type' content='website')
    meta(property='og:image' content='')
    meta(property='og:url' content='https://pixelclubs.org/')
    meta(property='og:description' content='')
    meta(name='viewport' content='width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes')
    if !dev
      style.
        .-d {
          display: none
        }
  body.parallax-wrapper
    .parallax
      +group
        +fore
          nav
            .row
              .col Blog
              .col Chapters
              .col Mission
              .col.emph: a(href='mailto:pr@pixelclubs.org?subject=Interested%20in%20creating%20a%20new%20PIxEL%20club') Start a PIxEL
          .main.row
            .col.hero
              .logo
                img(src='/images/pixel_logo.svg' alt='Logo')
            .col.hero
              .row PIxEL helps students bring their ideas to life with code.
              .row: a.btn(href='mailto:pr@pixelclubs.org?subject=Interested%20in%20creating%20a%20new%20PIxEL%20club') Start a PIxEL
          .tagline programmers + innovators * entrepreneurs + leaders
        +back
      +group.innocent
        +fore
          .row.updates
            .col.blog
              h3 From the blog
              p We have yet to kickoff our blog. Please stay posted!
            .col.news
              h3 Chapter news
              p: a(href='https://twitter.com/PIxELClubs/status/792440882989568000') We have just had our JavaScript Further 1 workshop
          .row.students
            .col
              h3 PIxEL Clubs are started by students, for students.
              p Our entire curriculum is designed for a high school audience from scratch.
      +group
        +fore
          .row.practical
            .col: span PIxEL is about the practical.
        +back
      +group.innocent
        +fore
          .row
            .col
              p Join our mission today.
          .row
            .col
              p Contact us at #[a(href='mailto:pr@pixelclubs.org?subject=Interested%20in%20creating%20a%20new%20PIxEL%20club') pr@pixelclubs.org].

  //- script(src='https://cdn.polyfill.io/v2/polyfill.min.js')
  //-
   script
    :babel(presets=['es2015'])
      (() => {
        function throttle(type, name, obj = window) {
          let running = false;
          obj.addEventListener(type, (...args) => {
            if (running) { return; }
            running = true;
            requestAnimationFrame(() => {
              obj.dispatchEvent(new CustomEvent(name));
              running = false;
            });
          });
        }
        throttle('resize', 'optimizedResize');

        let nodeList = document.querySelectorAll('.parallax-group');
        let groups = Array.from(nodeList).filter(g =>
          !g.classList.contains('group1') && !g.classList.contains('group4')
        );
        function resize() {
          groups.forEach(g => {
            const fore = g.querySelector('.parallax-layer.fore');
            if (!fore) debugger;
            g.style.height = `${fore.children[0].offsetHeight}px`;
          });
        }
        window.addEventListener('optimizedResize', resize);
        resize();
      })();
